<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Payment Card</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      }

      h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      #link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
      }

      #link:hover {
        background-color: #3e8e41;
      }
    </style>
  </head>
  <body>
    <h1>Click on below link to add payment card</h1>
    <div>
      <label for="link">Link: </label>
      <a href="<%= link %>" id="link"> Click here </a>
    </div>
  </body>
</html>
