<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password</title>
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
            }

            p {
                margin: 0;
            }

            * {
                line-height: inherit;
            }

            a[x-apple-data-detectors='true'] {
                color: inherit !important;
                text-decoration: none !important;
            }

            #u_body a {
                color: #161a39;
                text-decoration: underline;
            }
        </style>
        <link
            href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        <h1>Reset Your Password</h1>

        <p>Please enter your new password and confirm it to reset your password.</p>
        </br>

        <form action="http://localhost:2700/common/resetPassword" method="post">
        </br>

            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required /><br />
        </br>

            <label for="confirmPassword">Confirm Password:</label>
    

            <input type="password" id="confirmPassword" name="confirmPassword" required /><br />
        </br>

            <button type="submit">Reset Password</button>
        </form>
        <script>
            const passwordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('confirmPassword');

            confirmPasswordInput.addEventListener('keyup', function () {
                if (confirmPasswordInput.value !== passwordInput.value) {
                    confirmPasswordInput.style.backgroundColor = 'pink';
                    confirmPasswordInput.setCustomValidity('Passwords do not match!');
                } else {
                    confirmPasswordInput.style.backgroundColor = '';
                    confirmPasswordInput.setCustomValidity('');
                }
            });
        </script>
    </body>
</html>
